RewriteEngine On
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
</IfModule>

RewriteRule ^Profile/ChangePassword public/client/Profile-ChangePassword.php [L]
RewriteRule ^Profile$ public/client/Profile.php [L]
RewriteRule ^Register$ public/client/Register.php [L]
RewriteRule ^Login$ public/client/Login.php [L]
RewriteRule ^Logout$ public/client/Logout.php [L]
RewriteRule ^ForgotPassword$ public/client/ForgotPassword.php [L]
RewriteRule ^ChangePassword$ public/client/ChangePassword.php [L]
RewriteRule ^Recharge$ public/client/Recharge.php [L]
RewriteRule ^Accounts/([A-Za-z0-9-]+) public/client/Accounts.php?id=$1 [L]
RewriteRule ^Tools/([A-Za-z0-9-]+) public/client/Tools.php?id=$1 [L]
RewriteRule ^Vps/([A-Za-z0-9-]+) public/client/Vps.php?id=$1 [L]
RewriteRule ^ChangeKey/([A-Za-z0-9-]+) public/client/ChangeKey.php?id=$1 [L]
RewriteRule ^Groups/([A-Za-z0-9-]+) public/client/Groups.php?id=$1 [L]
RewriteRule ^Detail/([A-Za-z0-9-]+) public/client/Detail.php?id=$1 [L]
RewriteRule ^History$ public/client/History.php [L]
RewriteRule ^HistoryTool$ public/client/HistoryTool.php [L]
RewriteRule ^HistoryVps$ public/client/HistoryVps.php [L]
RewriteRule ^Localbank$ public/client/Localbank.php [L]
RewriteRule ^History/Card$ public/client/HistoryCard.php [L]    
RewriteRule ^Ket-noi-api$ public/client/Api.php [L]
RewriteRule ^Transfers$ public/client/Transfers.php [L]
RewriteRule ^Blogs$ public/client/Blogs.php [L]
RewriteRule ^Blog/([A-Za-z0-9-]+) public/client/XemBlog.php?id=$1 [L]
RewriteRule ^BuyCard$ public/client/BuyCard.php [L]
RewriteRule ^Topup$ public/client/Topup.php [L]
RewriteRule ^Bank$ public/client/Bank.php [L]
RewriteRule ^nap-the-cao$ public/client/NapThe.php [L]
RewriteRule ^bien-dong-so-du$ public/client/BienDongSoDu.php [L]
RewriteRule ^nap-tien$ public/client/Recharge-Bank.php [L]
RewriteRule ^Cay-thue$ public/client/CayThue.php [L]
RewriteRule ^History/Cay-thue$ public/client/HistoryCayThue.php [L]
RewriteRule ^Gift$ public/client/Giftcode.php [L]
RewriteRule ^Pk$ public/client/Pk.php [L]


RewriteRule ^admin/$ public/admin/Home.php [L]
RewriteRule ^Admin/$ public/admin/Home.php [L]
RewriteRule ^Admin$ public/admin/Home.php [L]
RewriteRule ^Admin/Home$ public/admin/Home.php [L]
RewriteRule ^Admin/Users$ public/admin/Users.php [L]
RewriteRule ^Admin/User/Edit/([A-Za-z0-9-]+) public/admin/EditUser.php?id=$1 [L]
RewriteRule ^Admin/Setting$ public/admin/Setting.php [L]
RewriteRule ^Admin/Cards$ public/admin/Cards.php [L]
RewriteRule ^Admin/Vps$ public/admin/Vps.php [L]
RewriteRule ^Admin/HistoryVps$ public/admin/HistoryVps.php [L]
RewriteRule ^Admin/Bank$ public/admin/Bank.php [L]
RewriteRule ^Admin/Accounts$ public/admin/Accounts.php [L]
RewriteRule ^Admin/Groups/([A-Za-z0-9-]+) public/admin/Groups.php?id=$1 [L]
RewriteRule ^Admin/Group/Edit/([A-Za-z0-9-]+) public/admin/EditGroup.php?id=$1 [L]
RewriteRule ^Admin/Accounts/([A-Za-z0-9-]+) public/admin/Accounts.php?id=$1 [L]
RewriteRule ^Admin/Account/Edit/([A-Za-z0-9-]+) public/admin/EditAccount.php?id=$1 [L]
RewriteRule ^Admin/Account-Sold$ public/admin/Account-Sold.php [L]
RewriteRule ^Admin/Storage$ public/admin/Storage.php [L]
RewriteRule ^Admin/Category/Cay-thue/$ public/admin/CategoryCayThue.php [L]
RewriteRule ^Admin/Groups-cay-thue/([A-Za-z0-9-]+) public/admin/GroupsCayThue.php?id=$1 [L]
RewriteRule ^Admin/Tools$ public/admin/Tools.php [L]
RewriteRule ^Admin/Gift$ public/admin/Giftcode.php [L]
RewriteRule ^Admin/Cay-thue$ public/admin/GroupsCayThue.php [L]
RewriteRule ^Admin/Solo$ public/admin/Solo.php [L]
RewriteRule ^Admin/Tool$ public/admin/Tools.php [L]
RewriteRule ^Admin/Key$ public/admin/ListKey.php [L]
RewriteRule ^Admin/Captcha public/admin/Captcha.php [L]
RewriteRule ^Admin/Tool/Edit/([A-Za-z0-9-]+) public/admin/EditTool.php?id=$1 [L]
RewriteRule ^Admin/Editday/([A-Za-z0-9-]+) public/admin/EditDay.php?id=$1 [L]

RewriteRule ^ctv/$ public/ctv/Home.php [L]
RewriteRule ^Ctv/$ public/ctv/Home.php [L]
RewriteRule ^Ctv/$ public/ctv/Home.php [L]
RewriteRule ^Ctv/Home$ public/ctv/Home.php [L]
RewriteRule ^Ctv/Accounts$ public/ctv/Accounts.php [L]
RewriteRule ^Ctv/Account-Sold$ public/ctv/Account-Sold.php [L]
RewriteRule ^Ctv/Account/Edit/([A-Za-z0-9-]+) public/ctv/EditAccount.php?id=$1 [L]
RewriteRule ^Ctv/DonCayThue$ public/ctv/DonHangCayThue.php [L]
RewriteRule ^Ctv/Donhang$ public/ctv/CayThue.php [L]
RewriteRule ^Ctv/Solo$ public/ctv/Solo.php [L]
RewriteRule ^Ctv/OrderSolo$ public/ctv/OrderSolo.php [L]
RewriteRule ^Ctv/Edit/([A-Za-z0-9-]+) public/ctv/edit-solo.php?id=$1 [L]